.clock-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.clock-wrapper{
    height: auto;
    width: 400px;
    border-radius: 4px ;
    background: #c8c7c7;
    padding: 20px 40px;
}

.clock-content{
    height: auto;
    width: 100%;
    border-radius: 4px ;
    background: #a2a0a0;
    padding: 10px 10px;
}

.clock-display{
    background: black;
    color: white;
    text-align: center;
    width: 100%;
    border-radius: 2px ;

}

.clock-day{
    font-size:50px;
    margin-bottom: 5px;
    font-weight: bolder;
    text-transform: uppercase;
}

.clock-time{
    font-size:50px;
    margin-bottom: 5px;
    font-weight: bolder;
    text-transform: uppercase;
}

.clock-time-status{
    font-size:25px;
    font-weight: bolder;
    text-transform: uppercase;
}

.clock-time{
    font-size:50px;
    margin-bottom: 5px;
    font-weight: bolder;
    text-transform: uppercase;
}

.clock-date{
    font-size:25px;
    margin-bottom: 2px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.clock-btn{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;

}

.clock-btn:hover{
    background: #37b3e2;
}

.clock-btn-container{
    display: flex;
    margin-top:14px ;
    justify-content: center;
    align-items: center;
}

.date-wrapper{
    display: flex;
    flex-direction: column;
    background: #0c0c0c;
    padding: 20px 35px;
}

.date-wrapper > div{
    margin-bottom: 16px;
}

 label{
     font-weight: bold;
    margin-right: 16px;
     color: white;
}

 .react-date-picker__wrapper{
     height: 50px;
     margin-left: 9px !important;
     background: #dedede;
     width: 150% !important;
     border-radius: 5px !important;
     color: #0c0c0c;
 }

.react-time-picker__wrapper{
     height: 50px;
     background: #dedede;
     width: 230% !important;
     border-radius: 5px !important;
     color: #0c0c0c;
 }